*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./img/js.gif');   
    background-size: auto;   
    }


.title {
    background-image: url('./img/HD-wallpaper-theres-no-place-like-127.0.0.1-poster\,-triple-.jpg'); 
    background-size: 50%;
    border-radius: 50px;
    text-align: center;
    color: whitesmoke;
    margin: 10vh auto;
    font-size: calc(2vw + 15px);
    text-shadow: 0 0 10px black,
                 0 0 10px black,
                 0 0 10px black;
    }
    
    
    .container {
        
        width: 80vw;
        height: 100px;   
        margin: 0 auto; 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-items: center;
        justify-content: space-around;
        gap: 35px;    
    }

button{
    align-items: flex-start;
    font-size: arial;
    font-size: 16px;
    text-transform: uppercase;
    font-size: 700;
    border-radius: 5px;
    padding:23px;
    cursor:pointer;
    display: inline-block;
    background-color:black;
    border-bottom: #fff;
    color:#fff;
    box-shadow: 0 10px 0 blueviolet;

    
}
body {
    text-align: center;
    color:black;
    box-shadow: black;
    margin-top: 50px;
    padding: 50px;
    font-size: 30px;
    
}
button:hover
{
    background:white ;
    
   }

button:active{
    text-align: center;
    position:relative; 
    top:5px;
    box-shadow: none;
    
}
